<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.aike.example.aike.log">
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <application
    >
    <activity android:name="com.aike.fjh.log.LogActivity"></activity>
  </application>
</manifest>
